* {
    box-sizing: border-box;
}

.body {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1194px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.search-form {
    position: relative;
    display: flex;
    flex-grow: 1;
    max-width: 620px;
    margin-left: 76px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;

}

.search-input {
    width: 100%;
    padding-top: 13px;
    padding-right: 50px;
    padding-bottom: 13px;
    padding-left: 20px;
    background-color: transparent;
    border: none;
}

.search-input::-webkit-search-cancel-button { 
    -webkit-appearance: none;
} 

.search-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-right: 18px;
    padding-left: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.auth {
    margin-left: auto;
}

.login {
    padding: 16px 30px;
    font-size: 14px;
    line-height: 16px;
    color:#000000;
    text-decoration: none;
    background-color: #ebebeb;
    border-radius: 50px;
}

.shopping-cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    width: 49px;
    height: 49px;
    text-decoration: none;
    background-color: #F66A15;
    border-radius: 50%;
}

.shopping-counter {
    position:absolute;
    right: 0;
    bottom: 0;
    display: block;
    padding: 5px;
    font-size: 8px;
    line-height: 9px;
    color: #000000;
    background-color:#ffaf19;
    border-radius: 50%;
}

.slide {
    position: relative;
    display: flex;
    align-items: center;
    padding: 100px;
    min-height: 400px;
    border-radius: 20px;
    overflow: hidden;
}

.slide-text-light {
    background-color: gray;
    color: #ffffff;
}

.slide-content {
    position: relative;
    max-width: 400px;
}

.slide-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 50px;
    line-height: 51px;
    font-weight: bold;
}

.slide-text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 12px 50px;
    font-style: normal;
    font-style: 14px;
    line-height: 23px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 25px;
}

.button-primary {
    background-color: #f47322;
    color: #ffffff;
}

.slide-summer {
    background-image: url(../img/file/summer.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}

.promo {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 570px;
    min-height: 380px;
    padding: 32px;
    border-radius: 20px;
    overflow: hidden;
}

.card::before {
    z-index: -2;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.card-text-light {
    color: #ffffff;
}

.card-title {
    margin-top: 4px;
    margin-bottom: 21px;
    font-style: normal;
    font-size: 24px;
    line-height: 23px;
    font-weight: 500;
}

.card-description {
    max-width: 168px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
}

.card-price {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 23px;
    font-weight: 500;
}

.card-delivery {
    display: block;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
}

.button-default {
    background-color: #ffffff;
    color: #5f5f61
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}